body {
    font-family: Arial, sans-serif;
    padding: 25px;
    max-width: 750px;
    margin: auto;
    background: #ffffff;
    transition: 0.3s;
}

body.dark {
    background: #1e1e1e;
    color: #eee;
}

.upload-box {
    border: 2px dashed #999;
    padding: 25px;
    border-radius: 12px;
    margin: 25px 0;
    text-align: center;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-box.dragover {
    border-color: #28a745;
    background: #eaffea;
}

.btn {
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-green { background: #28a745; }
.btn-red { background: #d60c0c; }
.btn-dark { background: #14532d; }

#preview {
    display: none;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.compress-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#loading {
    display: none;
    margin-top: 15px;
    font-weight: bold;
    color: #28a745;
}

.info-box {
    background: #f8f8f8;
    padding: 12px;
    border-radius: 10px;
    margin-top: 15px;
}